.tl-main-container {
  width: 100%;
  margin: 40px auto 10px;
  padding: 20px;
  background-color: #E2BE7E;
}

.tl-item-container {
  width: 100%;
  min-height: fit-content;
}

.tl-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  background-color: #fff7e0;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.threadId {
  width: 100%;
}

.tl-pic {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.tl-header-content {
  display: flex;
  margin: 0;
  align-items: center;
}

.tl-name {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.tl-title {
  margin: 0;
  font-weight: 200;
  padding-left: 20px;
}

.hw-name {
  padding-left: 20px;
}

.tl-options {
  display: flex;
  justify-content: space-around;
}

.category-select-label {
  margin-bottom: 10px;
}

.cat-select {
    margin-left: 1rem;
}

.dash-select {
  margin: 10px;
}

.Watch {
  display: none;
}

@media only screen and (min-width: 768px) {
  .tl-main-container {
    width: 80%;
    margin: 20px 0px 0px;
    padding: 20px 20px 0px 20px;
    height: 100%;
  }

  .post-form {
    display: none;
  }
}
