.tl-main-container {
  width: 80%;
  margin: 20px 0px 0px;
  padding: 20px 20px 0px 20px;

  background-color: #e2be7e;
  border-radius: 5px;
  box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.26);
}

.tl-item-container {
  width: 100%;
  min-height: fit-content;
}

.tl-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  background-color: #fff7e0;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.threadId {
  width: 100%;
}

.tl-pic {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 15px;
}

.tl-header-content {
  display: flex;
  margin: 0;
  align-items: center;
}

.tl-name {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.tl-title {
  margin: 0;
  font-weight: 200;
}

.tl-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.category-select-label {
  margin-bottom: 10px;
}

.dash-select {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Watch {
  display: none;
}

.feed-btn {
  margin: 5px;
  height: 50%;
}

.tl-likes {
  border: black 1px;
}

.hw-name {
  text-align: center;
  font-size: 35px;
}

@media only screen and (min-width: 768px) {
  .tl-main-container {
    width: 80%;
    margin: 20px 0px 0px;
    padding: 20px 20px 0px 20px;
    height: 100%;
    box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.26);
  }

  .tl-header-content {
    display: flex;
    margin: 0;
    align-items: center;
  }

  .tl-pic-container {
    display: flex;
    flex-direction: row;
  }
}
