.header-in {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #e2be7e;
  /* border-bottom: #e0caa9 5px solid; */
  width: 100vw;
}

.head-nav-logged-in {
  width: 90vw;
  height: 6vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #e2be7e;
}

header a {
  margin-right: 10px;
}

.app-sub {
  padding: 2rem;
  width: 100vw;
  margin-top: -2vh;
  margin-bottom: -2vh;
  justify-content: right;
}

.header-out {
  display: flex;
  flex-direction: row;
  align-items: right;
  width: 100vw;
}

.head-nav-logged-out {
  width: 100vw;
  height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media only screen and (min-width: 768px) {
  .head-nav {
    width: 50vw;
  }

  /* .app-name {
        height: 15vh;

    }

    header {
        display: flex;
        flex-direction: row;
    } */
}
