.header-in {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fafafa;
  /* border-bottom: #e0caa9 5px solid; */
  width: 100vw;
  height: 7vh;
}

.head-nav-logged-in {
  width: 100vw;
  height: 6vh;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
}

.header-out {
  display: flex;
  flex-direction: row;
  align-items: right;
  width: 100vw;
}

.head-nav-logged-out {
  width: 100vw;
  height: 6vh;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  z-index: 10;
}

.out-link {
  color: #fff7e0;
  font-size: 28px;
  text-shadow: 2px 2px #231f20;
}

.app-sub {
  display: none;
}

.app-head-logo {
  display: flex;
  width: 65px;
  height: auto;
  vertical-align: middle;
}

.hw-head-link {
  align-items: center;
}

@media only screen and (min-width: 450px) {
  .head-nav-logged-in {
    flex-direction: row;
  }

  .app-sub {
    display: flex;
  }

  .app-head-logo {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .head-nav {
    width: 50vw;
  }
}

@media only screen and (min-width: 950px) {
  .head-nav-logged-out {
    display: none;
  }
}
