header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E2BE7E;
    border-bottom: #E0CAA9 5px solid;
    width: 100vw;
}

.app-name {
    background-image: url('../../image-assets/header-full-small.png');
    background-position: center center;
    background-repeat: no-repeat;
    height: 20vh;
    width: 100vw;
    margin-top: 3vh;
    margin-bottom: -8vh;
    background-color: #E2BE7E;
}

header a {
    background-color: #E2BE7E;
    margin-right: 10px;
}

.app-sub {
    background-image: url('../../image-assets/sub-header-small.png');
    background-position: center center;
    background-repeat: no-repeat;
    padding: 2rem;
    width: 100vw;
    margin-top: -2vh;
    margin-bottom: -2vh;
    background-color: #E2BE7E;
}

.head-nav {
    width: 90vw;
    height: 6vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #E2BE7E;
}

@media only screen and (min-width: 768px) {
    .head-nav {
        width: 50vw;
    }
}