:root {
  --color-1: #231f20;
  --color-2: #846f51;
  --color-3: #fff7e0;
  --color-4: #e0caa9;
  --color-5: #e2be7e;
  --color-6: #e92b25;
  --color-7: #8d1814;
  --color-8: #fafafa;
}

.ti-main-container {
  width: 100%;
  min-height: fit-content;
  margin: 0 auto;
}

.ti-user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

.ti-name {
  font-size: 20px;
  padding-left: 10px;
}

.ti-item-container {
  width: 100%;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  min-height: fit-content;
  background-color: #e2be7e;
  margin-left: auto;
  margin-right: auto;
}

.ti-item-inner {
  background-color: #fff7e0;
}

.ti-comments-header {
  display: none;
}

.ti-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 0px;
  border-bottom: 1px solid #231f20;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.ti-pic {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.ti-name {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ti-title {
  margin: 0;
  font-weight: bold;
  font-family: Impact;
  font-size: 36px;
}

.ti-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.ti-body-content {
  padding: 30px;
  text-align: justify;
}

.ti-body-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 25px;
  margin: 0;
}

.ti-body-topic {
  width: 200px;
  margin-left: 30px;
}

.ti-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

@media only screen and (min-width: 450px) {

  .ti-comments-header {
    display: block;
    margin: 0;
  }

  .ti-item-container {
    width: 60%;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
    min-height: fit-content;
    background-color: #e2be7e;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 3px 5px 2px rgba(0,0,0,0.26);
  }

  .ti-item-inner {
    border-radius: 5px;
  }
  
  .ti-item-inner {
    background-color: #fff7e0;
  }
}