.log-route-section {
  display: flex;
  align-items: left;
  flex-direction: column;
  background-image: url('../../image-assets/Metal-Working-Cart.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}


.log-submit-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.log-field {
  background-color: #8D1814;
  border-radius: 25px;
}

.Button {
  border-radius: 10px;
  padding: 5px 20px;
  background-color: var(--color-6);
  color: #FFF7E0;
  cursor: pointer;
}
