.Login_Form {
  background-color: rgba(255, 255, 255, .7);
  display: flex;
  border-radius: 10px;
  max-width: 500px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 20px;
}

.label-input label {
  padding-bottom: 10px;
}

.label-input input {
  padding: 5px;
}

.log-route-section {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px darkgray;
  display: flex;
  align-items: left;
  flex-direction: column;
  background-image: url('../../image-assets/construction-wallpaper.png');
  height: 100%;
  background-size: cover;
}

.log-submit-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.log-field {
  border: none;
}

.Button {
  border-radius: 10px;
  padding: 5px 20px;
  background-color: var(--color-6);
  color: #FFF7E0;
  cursor: pointer;
}

.log-btn:hover {
  background-color: rgb(236, 236, 88);
  color: black;
}

.already-link {
  text-shadow: none;
}

@media screen and (min-width: 600px) {
 .Login_Form {
   width: 50%;
 }
}


