

* {
     box-sizing: border-box;
}

body {
     background-color: #FFF7E0;
     color: #231F20;
     font-family: 'garage-gothic', sans-serif;
     font-style: normal;
     font-weight: 700;
}

a {
     text-decoration: none;
     color: #231F20;
     font-family: 'Impact', bold;
}

#header {
     font-family: 'Impact', bold;
}

section {
     display: flex;
     align-items: center;
     flex-direction: column;
}

.label-input {
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: center;
     padding: 1rem;
     
 }