* {
  box-sizing: border-box;
}

html, body {
  height: auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFF7E0;
  color: #231f20;
  font-family: "garage-gothic", sans-serif;
  font-style: normal;
  font-weight: 700;
}

:root {
  --font-size: calc(10px + 1vmin);
}
