.scrollarea {
    min-height: fit-content;
    text-align: center;
    padding: 20px;
    width: 100vw;
}

.scrollarea-content {
    background-color: #fff7e0;
    border-radius: 10px;
}

.thread-list {
    list-style: none;
    text-align: center;
}

.threads {
    padding: 0;
}

@media only screen and (min-width: 450px) {

    .scrollarea {
        border: none;
        border-left: 1px solid #231F20;
        margin: 0 auto;
        width: 30vw;
    }
}